body {
  padding-top: 56px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
  background-color: blue;
  color: white;
  text-align: center;
}

.topnav {
  left: 0;
  overflow: hidden;
  width: 100%;
  background-color: blue;
}

.topnav a {
  float: left;
  color: white;
  background-color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
  background-color: cyan;
}


.wrapper{
	background-color: white;
	width: 80%; /*set the width you want for th div */
	margin: 0 auto; /* centers the div on the page */
	text-align: left; /*left justifies the text in the div */
	padding: 20px;
	float: left;
}

.sidebar{
	background-color: blue;
	width: 20%; /*set the width you want for th div */
	margin: 0 auto; /* centers the div on the page */
	text-align: left; /*left justifies the text in the div */
	padding: 20px;
	float: left;
}


/* content div */
.data{
	float:left;
	width: 97%; /*set the width you want for the div */
	margin: 0 auto; /* centers the div on the page */
	text-align: left; /*left justifies the text in the div */
	padding: 20px;
}

.button {
  background-color: rgb(76, 116, 175); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body{
	background-color: white;
	padding: 0px;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	padding-left: 20px;
	color: white;
}


.btn .btn-danger{
	background-color: teal;
	color: White;
}

.btn .btn-danger:hover{
	background-color: blue;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: right;
}

li {
	float: left;
  }
  