{% extends 'base.html' %}
{% block body %}
<div>

  <h3>Add A New Patron</h3>

  <form method="POST" action="">


        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name(size=20)}}
        {{ form.last_name.label }} {{ form.last_name(size=20)}}
        {{ form.birthdate.label }} {{ form.birthdate(size=20) }}
        {{ form.address1.label }} {{ form.address1(size=20) }}
        {{ form.address2.label }} {{ form.address2(size=20) }}
        {{ form.city.label }} {{ form.city(size=20) }}
        {{ form.state.label }} {{ form.state(size=20) }}
        {{ form.zip.label }} {{ form.zip(size=20) }}
        {{ form.phone.label }} {{ form.phone(size=20) }}
        {{ form.phone2.label }} {{ form.phone2(size=20) }}
        {{ form.email.label }} {{ form.email(size=20) }}

    <input type="submit" value="Add">

  </form>

</div>
{% endblock %}
