{% extends 'base.html' %}
{% block app_content %}
<div>

  <h3>Checkout</h3>
  <hr>

  <form method="POST" action="">


    {{ form.csrf_token }}

    {{ form.patronsID.label }} {{ form.patronsID(size = 20)}}
    {{ form.materialsID.label }} {{ form.materialsID(size = 20)}}
    {{ form.checkoutDate.label }} {{ form.checkoutDate(size = 20) }}
    {{ form.dueDate.label }} {{ form.dueDate(size = 20) }}

    <input type="submit" value="Checkout A Material">

  </form>
   
</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

{% endblock %}
