{% extends 'base.html' %} 
{% block app_content %}

   <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>South Liberty Public Library</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>South Liberty Public Library</strong>
          <br>3481 Somewhere Ave
          <br>North Liberty, IA 52317
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@slpl.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

       <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='Images/books.jpg') }}" style="height:15em; width:95%; overflow:hidden;" alt="Books">
          <div class="card-body">
            <h4 class="card-title">Materials</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('materials')}}" class="btn btn-primary">Find an item!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='Images/kids.jpg') }}" style="height:15em; width:auto; overflow:hidden;" alt="Kids">
          <div class="card-body">
            <h4 class="card-title">Patrons</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('patrons')}}" class="btn btn-primary">Look up account</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='Images/due.jpeg') }}" style="height:15em; width:auto; overflow:hidden;" alt="Don't Forget">
          <div class="card-body">
            <h4 class="card-title">Circulation</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('circulation')}}" class="btn btn-primary">Find what's due!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock %}
