{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('add_materials')}}"> Add Materials </a></p>
  <h3>{{ legend }}</h3>


          {% if materials %}
          <table>
                <thead>
                    <tr>

                        <th>Materials ID</th>
                        <th>Material Type</th>
                        <th>Call Number</th>
                        <th>Title</th>
                        <th>Author </th>
                        <th>Publisher </th>
                        <th>Copyright</th>
                        <th>ISBN</th>
                        <th>Description</th>

                    </tr>
                </thead>

                <tbody>
                    {% for row in materials %}
                    <tr>

                        <td> {{ row.ID }}</td>
                        <td> {{ row.materialType }}</td>
                        <td> {{ row.callNumber }}</td>
                        <td> {{ row.title }}</td>
                        <td> {{ row.author }}</td>
                        <td> {{ row.publisher }}</td>
                        <td> {{ row.copyright }}</td>
                        <td> {{ row.ISBN }}</td>
                        <td> {{ row.description }}</td>

            <td>
              <form action="{{ url_for('get_materials', materialsID=row.ID) }}" method="POST">
                         <input type="submit" value="Details" class="btn btn-info" />
                       </form>
                            </td>
                              </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% endif %}
        {% endblock %}
