{% extends 'base.html' %}
{% block app_content %}
<div class="col-sm-12">
  <h3>Materials</h3>
<hr>
  <form method="POST">
     <input type="text" autofocus="autofocus" name = "search_string">
     <input type="submit" formaction = "/search_materials" value="Search">
   </form>
<br/>
          {% if materials %}
          <table>
                <thead>
                    <tr>

                        <th>Material ID</th>
						<th>&emsp;</th>
                        <th>Material Type</th>
						<th>&emsp;</th>
                        <th>Title</th>
						<th>&emsp;</th>
                        <th>Author</th>
						<th>&emsp;</th>



                    </tr>
                </thead>

                <tbody>
                    {% for row in materials %}
                    <tr>

                        <td> {{ row.ID }}</td>
						<td>&emsp;</td>
                        <td> {{ row.materialType }}</td>
						<td>&emsp;</td>
                        <td> {{ row.title }} </td>
						<td>&emsp;</td>
                        <td> {{ row.author }} </td>
						<td>&emsp;</td>




            <td>
              <form action="{{ url_for('material', ID=row.ID) }}" method="POST">
                         <input type="submit" value="Details" class="btn btn-info" />
                       </form>
                            </td>
                              </tr>
                    {% endfor %}
                    </tbody>
                </table>
				<hr>
				<div class="col-sm-1">
              <form action="{{url_for('.add_materials')}}">
			  <input type="submit" value="Add new Material" class="btn btn-info" />
			  </form> 
			  <br/>
			  <br/>
</div>
        {% endif %}
        {% endblock %}
