{% extends 'base.html' %}
{% block body %}
<div>


<p><a href="{{ url_for('index')}}"> Home </a></p>
  <h3>{{ legend }}</h3>

    {% if form %}
      <form method = "POST" action="">
          {{ form.csrf_token }}
          {{form.patronID.label}} {{form.patronID}}
          {{ form.first_name.label }} {{ form.first_name}}
          {{ form.last_name.label }} {{ form.last_name}}
          {{ form.birthdate.label }} {{ form.birthdate }}
          {{ form.address1.label }} {{ form.address1 }}
          {{ form.address2.label }} {{ form.address2 }}
          {{ form.city.label }} {{ form.city }}
          {{ form.state.label }} {{ form.state }}
          {{ form.zip.label }} {{ form.zip }}
          {{ form.phone.label }} {{ form.phone }}
          {{ form.phone2.label }} {{ form.phone2 }}
          {{ form.email.label }} {{ form.email }}

          <input type="submit" formaction="{{url_for('update_patrons', patronID=form.ID)}}" value="Update">
          <input type="submit" formaction="{{url_for('delete_patrons', patronID=form.ID)}}" value="Delete">


<!--
in app.py we will have two player ID names so we dont get confused
naming it materialsID
actual database name is ID
-->
      </form>
      {% endif  %}
</div>
{% endblock %}
