{% extends 'base.html' %}
{% block body %}
<div>

  <h3>{{ legend }}</h3>


          {% if patrons %}
          <table>
                <thead>
                    <tr>

                        <th>Patron ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birthdate</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Phone</th>
                        <th>Phone 2</th>
                        <th>Email</th>

                    </tr>
                </thead>

                <tbody>
                    {% for row in patrons %}
                    <tr>

                        <td> {{ row.patronID }}</td>
                        <td> {{ row.first_name }}</td>
                        <td> {{ row.last_name }}</td>
                        <td> {{ row.birthdate }}</td>
                        <td> {{ row.address1 }}</td>
                        <td> {{ row.address2 }}</td>
                        <td> {{ row.city }}</td>
                        <td> {{ row.state }}</td>
                        <td> {{ row.zip }}</td>
                        <td> {{ row.phone }}</td>
                        <td> {{ row.phone1 }}</td>
                        <td> {{ row.email }}</td>

            <td>
              <form action="{{ url_for('patrons', patronID=row.patronID) }}" method="POST">
                         <input type="submit" value="Details" class="btn btn-info" />
                       </form>
                            </td>
                              </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% endif %}
        {% endblock %}
