{% extends 'base.html' %}
{% block app_content %}

{% if form %}
<h3>Patron</h3>
<hr>
  <form method="POST">


            {{ form.csrf_token }}
			&emsp;
            {{ form.first_name.label }} {{ form.first_name}}
			&emsp;
            {{ form.last_name.label }} {{ form.last_name}}
			&emsp;
            {{ form.birthdate.label }} {{ form.birthdate }}
			&emsp;
            {{ form.address1.label }} {{ form.address1 }}
			&emsp;
            {{ form.address2.label }} {{ form.address2 }}
			&emsp;
            {{ form.city.label }} {{ form.city }}
			&emsp;
            {{ form.state.label }} {{ form.state}}
			&emsp;
            {{ form.zip.label }} {{ form.zip }}
			&emsp;
            {{ form.phone.label }} {{ form.phone }}
			&emsp;
            {{ form.phone2.label }} {{ form.phone2}}
			&emsp;
            {{ form.email.label }} {{ form.email}}

    <input type="submit" formaction="{{url_for('update_patrons', patronID=form.patronID)}}" value="Update">
	&emsp;
    <input type="submit" formaction="{{url_for('delete_patrons', patronID=form.patronID)}}" value="Delete">


  </form>
  
  	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

{% endif %}
{% endblock %}
